<div class="row">
    <div class="col-md-4 stretch-card grid-margin">
      <div class="card bg-gradient-danger card-img-holder text-white">
        <div class="card-body">
          <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>
          <h4 class="font-weight-normal mb-3">Departamentos
            <i class="mdi mdi-chart-line mdi-24px float-right"></i>
          </h4>
        </div>
      </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin">
      <div class="card bg-gradient-info card-img-holder text-white">
        <div class="card-body">
          <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>                  
          <h4 class="font-weight-normal mb-3">Empleados
            <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
          </h4>
        </div>
      </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin">
      <div class="card bg-gradient-success card-img-holder text-white">
        <div class="card-body">
          <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>                                    
          <h4 class="font-weight-normal mb-3">Tickets
            <i class="mdi mdi-diamond mdi-24px float-right"></i>
          </h4>
        </div>
      </div>
    </div>
  </div>
