<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Tickets Recientes</h4>

        <!-- Tabla -->
        <div class="table-responsive">
          <table class="table">
            <!-- Encabezados -->
            <thead>
              <tr>
                <th> Titulo </th>
                <th> Descripción </th>
                <th> Prioridad </th>
              </tr>
            </thead>

            <!-- Datos -->
            <tbody>
              <tr *ngFor="let item of ticket_list">
                <td>{{ item.summary }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.priority }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>