<div class="content-wrapper">
  <div class="d-flex align-items-center auth px-0">
    <div class="row w-100 mx-0">
      <div class="col-lg-4 mx-auto">
        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
          <div class="brand-logo">
            <img src="assets/images/logo.svg" alt="logo">
          </div>
          <h6 class="font-weight-light">Inicia sesión para continuar.</h6>
  
          <form class="forms-sample" [formGroup]="form" (ngSubmit)="login()">
            <div class="form-group">
              <input type="email" class="form-control form-control-lg" formControlName="email" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="password" class="form-control form-control-lg" formControlName="password" placeholder="Password">
            </div>
  
            <button type="submit" class="btn btn-block btn-primary btn-lg">ENTRAR</button>
          </form>

          <br>
          <p> <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = ''">{{ successMessage }}</ngb-alert> </p> 
          <p> <ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = ''">{{ errorMessage }}</ngb-alert> </p>
        </div>
      </div>
    </div>
  </div>  
</div>
