<div class="row">
  <!-- Formulario -->
  <div class="col-md-5 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"> {{form_titulo}} </h4>
        <p class="card-description">
          Llene los campos para agregar o editar un departamento
        </p>

        <form class="forms-sample" [formGroup]="form" (ngSubmit)="guardar_depto()">
          <div class="form-group">
            <label for="input_nombre">Nombre</label>
            <input type="text" class="form-control" formControlName="name" id="input_nombre" placeholder="Nombre">
          </div>
          <div class="form-group">
            <label for="input_desc">Descripción</label>
            <textarea class="form-control" formControlName="description" id="input_desc" rows="4"></textarea>
          </div>
          <button type="submit" class="btn btn-gradient-primary mr-2">Guardar</button>
          <button type="button" class="btn btn-light" *ngIf="!modo_crear" (click)="nuevo_dato()">Nuevo</button>
        </form>

      </div>
    </div>
  </div>

  <!-- Lista -->
  <div class="col-lg-7 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Departamentos</h4>
        <!-- <p class="card-description">
          Add class <code>.table</code>
        </p> -->
        <div class="table-responsive">
          <table class="table table-hover">
            <!-- Encabezdos -->
            <thead>
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th></th>
              </tr>
            </thead>

            <!-- Contenido -->
            <tbody>
              <tr *ngFor="let item of depto_list">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>
                  <div class="template-demo d-flex justify-content-between flex-nowrap">
                    <button type="button" class="btn btn-inverse-success btn-icon" (click)="seleccion_depto(item)">
                      <i class="mdi mdi-tooltip-edit"></i>
                    </button>
                    <button type="button" class="btn btn-inverse-danger btn-icon" (click)="eliminar_depto(item)">
                      <i class="mdi mdi-delete"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
