<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="javascript:;" class="nav-link">
        <div class="nav-profile-image">
          <img src="assets/images/faces-clipart/pic-2.png" alt="profile">
          <span class="login-status online"></span> <!--change to offline or busy as needed-->              
        </div>
        <div class="nav-profile-text">
          <span class="font-weight-bold mb-2">Usuario N.</span>
          <span class="text-secondary text-small">Administrador</span>
        </div>
        <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': home.isActive }">
      <a class="nav-link" routerLink="/home" routerLinkActive #home="routerLinkActive">
        <span class="menu-title">Home</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': departamento.isActive }">
      <a class="nav-link" routerLink="/home/departamentos" routerLinkActive #departamento="routerLinkActive">
        <span class="menu-title">Departamentos</span>
        <i class="mdi mdi-format-list-bulleted menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': empleado.isActive }">
      <a class="nav-link" routerLink="/home/empleados" routerLinkActive #empleado="routerLinkActive">
        <span class="menu-title">Empleados</span>
        <i class="mdi mdi-format-list-bulleted menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': ticket.isActive }">
      <a class="nav-link" routerLink="/home/tickets" routerLinkActive #ticket="routerLinkActive">
        <span class="menu-title">Tickets</span>
        <i class="mdi mdi-format-list-bulleted menu-icon"></i>
      </a>
    </li>
  </ul>
</nav>
