<div class="row">
    <!-- Formulario -->
    <div class="col-md-5 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"> {{form_titulo}} </h4>
          <p class="card-description">
            Llene los campos para agregar o editar un empleado
          </p>
  
          <form class="forms-sample" [formGroup]="form" (ngSubmit)="guardar_empleado()">
            <div class="form-group">
              <label for="txt_name">Nombre</label>
              <input type="text" class="form-control" formControlName="name" id="txt_name" placeholder="Nombre">
            </div>
            <div class="form-group">
                <label for="txt_lastname">Apellido</label>
                <input type="text" class="form-control" formControlName="lastname" id="txt_lastname" placeholder="Apellido">
              </div>
            <div class="form-group">
                <label for="txt_email">Email</label>
                <input type="email" class="form-control" formControlName="email" id="txt_email" placeholder="Email">
              </div>
            <div class="form-group">
                <label for="txt_password">Contraseña</label>
                <input type="password" class="form-control" formControlName="password" id="txt_password" placeholder="Contraseña">
            </div>
            <div class="form-group">
                <label for="txt_department">Departamento</label>
                <select class="form-control" formControlName="department_id" id="txt_department">
                    <option *ngFor="let item of depto_list" [value]="item.id">{{item.name}}</option>
                </select>
            </div>
            <button type="submit" class="btn btn-gradient-primary mr-2">Guardar</button>
            <button type="button" class="btn btn-light" *ngIf="!modo_crear" (click)="nuevo_dato()">Nuevo</button>
          </form>
          <br>
          <p> <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = ''">{{ successMessage }}</ngb-alert> </p>
          <p> <ngb-alert *ngIf="warningMessage" type="warning" (close)="warningMessage = ''">{{ warningMessage }}</ngb-alert> </p>
          <p> <ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = ''">{{ errorMessage }}</ngb-alert> </p>
        </div>
      </div>
    </div>
  
    <!-- Lista -->
    <div class="col-lg-7 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Empleados</h4>
          <!-- <p class="card-description">
            Add class <code>.table</code>
          </p> -->
          <div class="table-responsive">
            <table class="table table-hover">
              <!-- Encabezdos -->
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Email</th>
                  <th></th>
                </tr>
              </thead>
  
              <!-- Contenido -->
              <tbody>
                <tr *ngFor="let item of empleado_list">
                  <td>{{ item.id }}</td>
                  <td>{{ item.name }} {{ item.lastname }}</td>
                  <td>{{ item.email }}</td>
                  <td>
                    <div class="template-demo d-flex justify-content-between flex-nowrap">
                      <button type="button" class="btn btn-inverse-success btn-icon" (click)="seleccion_empleado(item)">
                        <i class="mdi mdi-tooltip-edit"></i>
                      </button>
                      <button type="button" class="btn btn-inverse-danger btn-icon" (click)="eliminar_empleado(item)">
                        <i class="mdi mdi-delete"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  