
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/inicio">AID</a>
</nav>

<div class="container">    
    <main role="main">
        <div class="row">
            <div class="col-sm-6 grid-margin stretch-card">
              <div class="card bg-gradient-info card-img-holder text-white">
                <div class="card-body">
                    <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>     
                    <h1>Para clientes</h1>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio molestiae libero, nostrum sapiente, unde temporibus omnis vero consequuntur placeat doloremque eveniet voluptas ipsum pariatur. Vel expedita delectus et molestias impedit?</p>
                    <ul>
                        <li>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        </li>
                        <li>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        </li>
                    </ul>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="/ticket" class="btn btn-gradient-primary" role="button" aria-pressed="true">Nuevo ticket</a>
                        <a href="/validar" class="btn btn-gradient-success" role="button" aria-pressed="true" style="margin-left: 1em">Estado del ticket</a>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 grid-margin stretch-card">
              <div class="card bg-gradient-success card-img-holder text-white">
                <div class="card-body">
                    <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>     
                    <h1>Para organizaciones</h1>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio molestiae libero, nostrum sapiente, unde temporibus omnis vero consequuntur placeat doloremque eveniet voluptas ipsum pariatur. Vel expedita delectus et molestias impedit?</p>
                    <ul>
                        <li>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        </li>
                        <li>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        </li>
                    </ul>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="/login" class="btn btn-gradient-primary" role="button" aria-pressed="true">Iniciar Sesión</a>
                        <a href="/register" class="btn btn-gradient-info" role="button" aria-pressed="true" style="margin-left: 1em">Registrarse</a>
                    </div>
                </div>
              </div>
            </div>
          </div>      
    </main>    
</div>
