<div class="content-wrapper">
  
  <div class="d-flex align-items-center auth px-0">
    <div class="row w-100 mx-0">
      <div class="col-lg-4 mx-auto">
        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
          <div class="brand-logo">
            <img src="assets/images/logo.svg" alt="logo">
          </div>  
          <h4>Generar token</h4>
          <h6 class="font-weight-light">Llene los campos para validar su registro</h6>
          
          <form class="pt-3" [formGroup]="form_reporter" (ngSubmit)="generar_token(content)">
            <div class="form-group">
              <label for="txt_nombre">Nombre</label>
              <input type="text" class="form-control form-control-lg" formControlName="name" id="txt_nombre">
            </div>
            <div class="form-group">
              <label for="txt_apellido">Apellido</label>
              <input type="text" class="form-control form-control-lg" formControlName="lastname" id="txt_apellido">
            </div>
            <div class="form-group">
              <label for="txt_email">Email</label>
              <input type="email" class="form-control form-control-lg" formControlName="email" id="txt_email">
            </div>
  
            <button type="submit" class="btn btn-gradient-primary mr-2">Generar token</button>
          </form>

          <div>
            <p> <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = ''">{{ successMessage }}</ngb-alert> </p>
            <p> <ngb-alert *ngIf="warningMessage" type="warning" (close)="warningMessage = ''">{{ warningMessage }}</ngb-alert> </p>
            <p> <ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = ''">{{ errorMessage }}</ngb-alert> </p>
          </div>

        </div>
      </div>
    </div>
  </div>
  
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Nuevo Reporte</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <div class="modal-body">    
    <form class="forms-sample" [formGroup]="form_ticket" (ngSubmit)="enviar_ticket()">
      
      <div class="form-group">
        <label for="txt_summary">Resumen</label>
        <input type="text" class="form-control form-control-lg" formControlName="summary" name="txt_summary" placeholder="Resumen">
      </div>
      <div class="form-group">
        <label for="txt_description">Descripción</label>
        <textarea class="form-control form-control-lg" formControlName="description" name="txt_description" placeholder="Descripción" rows="5"></textarea>
      </div>
      <div class="form-group">
        <label for="cm_priority">Prioridad</label>
        <select class="form-control" formControlName="priority" name="cm_priority">
          <option value="Alta">Alta</option>
          <option value="Media">Media</option>
          <option value="Baja">Baja</option>
        </select>
      </div>
      <div class="form-group">
        <label for="cm_department">Departamento</label>
        <select class="form-control" formControlName="department_id" name="cm_department">
          <option *ngFor="let item of depto_list" [value]="item.id">{{item.name}}</option>
        </select>
      </div>
      <button type="submit" class="btn btn-gradient-primary mr-2">Enviar reporte</button>
    </form>

    <p> <ngb-alert *ngIf="successMessageTicket" type="success" (close)="successMessageTicket = ''">{{ successMessageTicket }}</ngb-alert> </p> 
    <p> <ngb-alert *ngIf="warningMessageTicket" type="warning" (close)="warningMessageTicket = ''">{{ warningMessageTicket }}</ngb-alert> </p>
    <p> <ngb-alert *ngIf="errorMessageTicket" type="danger" (close)="errorMessageTicket = ''">{{ errorMessageTicket }}</ngb-alert> </p>
  </div>
  
</ng-template>
